#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  background-color: #4caf50;
  color: white;
  margin-bottom: 16px;
  padding: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  cursor: pointer;
  background-color: #fafafa;
  border-bottom: 1px solid #ddd;
  padding: 12px;
}

li:hover {
  background-color: #eee;
}
